<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../Template/template.css">
</head>
<body>
    

    <main>
        <nav>
            <div class="container d-flex justify">
                <h1 class="logo">Leuy</h1>
                <ul class="nav-menu d-flex">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <button class="change-mode control">
                            <i class="fa-solid fa-moon"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </nav>

        <section class="home">
            <div class="container d-flex justify">
                <div class="home-txt">
                    <span>Hi there, I'm</span>
                    <h1>Leuy Lom</h1>
                    <h2>Frelance <span id="type-it"></span></h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde itaque perspiciatis tempore ipsa ipsum maxime animi quo est quae, autem error rem mollitia nulla blanditiis quisquam labore et assumenda. Repellendus.</p>
                    <a href="#">Contact Me</a>
                </div>
                <div class="home-img-border">
                    <div class="home-img">
                        <img src="../IMAGE/son.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="controlls">
            <div class="control control-1 active-btn">
                <i class="fa-solid fa-house" style="color:white;"></i>
            </div>
            <div class="control control-2">
                <i class="fa-solid fa-user"></i>               
            </div>
            <div class="control control-3">
                <i class="fa-solid fa-briefcase"></i>
            </div>
            <div class="control control-4">
                <!--<i class="far fa-newspaper"></i>-->
                <i class="fa-solid fa-newspaper"></i>
            </div>
            <div class="control control-5">
                <!--<i class="fas fa-envelope-open"></i>-->
                <i class="fa-solid fa-envelope"></i>
            </div>
            
        </div>
                
        </section>
    </main>
    <script src="../Template/template.js"></script>
</body>
</html>