@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

.container{
    width: 1120px;
    margin: auto;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.d-flex{
    display: flex;
    align-items: center;
}
.justify{
    justify-content: space-between;
}
h1.logo{
    font-size: 2rem;
    text-transform: uppercase;
}
ul.nav-menu li{
    padding: 20px;
}
ul.nav-menu li a{
    text-decoration: none;
    color: #29292999;
    font-size: 1rem;
    text-transform: uppercase;
}
button.change-mode{
    border: 0;
    background: #ea4020;
    font-size: 25px;
    padding: 10px 13px;
    color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

ul.nav-menu li:last-child{
    padding: 0;
}

.home-txt h2{
    font-size: 30px;
    font-weight: 500;
    padding: 20px 0;
    color: #333333;
}

.home-txt span{
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 600;
    color: #333;
}

.home-txt h1{
    font-size: 60px;
    padding: 20px 0;
    color: #292929;
    position: relative;
}

.home-txt h1::after{
    content: '';
    width: 150px;
    height: 4px;
    background: #ea4020;
    position: absolute;
    left: 0;
    bottom: 0;
}

.home-txt{
    width: 450px;
}

.home-txt p{
    font-size: 1rem;
    color: #333333;
    line-height: 30px;
    padding-bottom: 40px ;
}

.home-txt a{
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: #ea4020;
    padding: 15px 30px;
    font-weight: 600;
    border-radius: 5px;
}

.home-txt h2 span{
    padding-left: 8px;
    border-right: 3px solid;
    font-size: 2rem;
    font-weight: 500;
}
.home-img{
    width: 450px;
    height: 450px;
    border: 15px solid;
    border-color: #292929;
    border-radius: 50% 50% 0% 50%;
    overflow: hidden;
    
}
.home-img img{
    width: 100%;
    height: 100%;
}
.home-img-border{
    position: relative;
    padding: 40px;
    background: #ffffff;
    border-radius: 50% 0% 0% 50%;
}
.home-img-border::after{
    content: '';
    
    position: absolute;
    border: 15px solid #ea4020;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    border-radius: 50% 50% 0% 50%;
}

section.home{
    padding: 40px 0;
    overflow: hidden;
    position: relative;
}

nav{
    padding: 10px 0;
}
.controlls{
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
        
}
.control{
    padding: 1rem;
    cursor:pointer;
    width: 55px;
    height: 55px;
    display: flex;
    background-color:#6c7983;
    justify-content: center;
    align-items: center;
    margin: .7rem 0;
    box-shadow: 0 3px 15px rgba(0,0,0,0.3);
    border-radius: 50%;
}
i{
    font-size:1.2rem;
    color: #b2becd;
    pointer-events: none;
}
.active-btn{
    background-color: #27ae60 !important;
    transition: all .4s ease-in-out;
    color: #ffffff;
}
.control:hover{
    background-color: #ea4020;
}

.home-img-border::before{
    content: '';
    background: url(../IMAGE/dot1.webp);
    position: absolute;
    left: -5%;
    
    width: 100%;
    height: 100%;
    background-position: left;
    background-size: cover;
    top: 0;
    border-radius: 50% ;
    z-index: -100;
    animation:homespinner 140s linear infinite
}
@keyframes homespinner {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}