
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  button{
    @apply border border-white text-white
  }
  h1{
    @apply text-white
  }
  p{
    @apply text-white
  }
  
}
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
body{
  background-color: rgb(165, 171, 173);
}
a{
  text-decoration: none;
  color: black;
  font-family: sans-serif;
}
.nav-ul li{
  margin: 0rem 1.2rem;
  list-style-type: none;
}
